<h3>Class Edit Form</h3>

<%= form_for(@school_classes) do |f| %>
  <label>School Class Title:</label><br>
  <%= f.text_field :title %><br>

  <label>School Class Room Number</label><br>
  <%= f.number_field :room_number %><br>

  <%= f.submit %>
<% end %> 
